##
# Compiled Object files, Static and Dynamic libs (Shared Objects)
#
*.o
*.a
*.so
main
*.exe


##
# Architecture specific extensions/prefixes
#
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*


##
# Folders
#
_obj
.idea/
docs/
node_modules/
resources/icons/
_test/


##
# Files
#
config/connection.json
database/migrations/go-cms.sql
public/css/styles.css
public/css/styles.css.map
