.page-posts{
  .page-wrapper{
    @include grid('.post', 1, 2, 3, $gutter: 2rem);
    margin: auto;
    padding-top: 2rem;
  }

  .post{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    position: relative;
    text-align: left;

    &-metadata{
      background-color: rgba($color3, .5);
      border: 0;
      left: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;

      .author{
        color: $color3;
        text-shadow: 0 0 2px rgba($color5, 0.5);
        padding: 5px;

        &__image{
          height: 36px;
          margin-right: 5px;
          width: 36px;
        }
      }
    }

    &-title{
      color: $color4;
      display: block;
      font-family: "Oswald";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      padding: 8px;
      &:hover{
        color: $color5;
      }
    }
  }
}
