// Agrega el esapcio para el header a todas las páginas excepto al login
body:not(.page-login){
  padding-top: 50px;
}

.header{
  align-items: center;
  background-color: rgba($color1, 0.9);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  color: $color3;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  left: 0;
  padding: 12px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  &__appname{
    font-family: "Oswald";
    font-size: 18px;
  }
  &__menu{
    cursor: pointer;
    font-size: 20px;
  }
  a{
    color: $color3;
    &:hover{
      color: $color2;
    }
  }
}
