.pagination{
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;

  @include from(400px){
    justify-content: center;
  }

  &__item{
    align-items: center;
    border: 1px solid $color1;
    color: $color1;
    display: flex;
    flex-shrink: 1;
    font-family: "Oswald";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    margin: 0.2rem;
    padding: 0.5rem;

    &.active,
    &:hover:not(.disabled){
      background-color: $color1;
      color: $color3;
      cursor: pointer;
    }

    &.disabled{
      border-color: $color5;
      color: $color5;
      cursor: not-allowed;
    }

    @include from(400px){
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}
