.post-metadata{
  align-items: center;
  border-bottom: 1px solid $color5;
  display: flex;
  font-family: "Oswald";
  font-weight: 400;
  justify-content: space-between;
  margin: 8px 0 16px 0;
  padding-bottom: 8px;

  .author{
    align-items: center;
    display: flex;
    font-size: 1rem;
    &__image{
      border-radius: 50%;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16), 0 0 10px 0 rgba(0, 0, 0, .12);
      height: 48px;
      margin-right: 8px;
      overflow: hidden;
      width: 48px;
    }
  }

  .published_at{
    background-color: $color1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .16), 0 0 10px 0 rgba(0, 0, 0, .12);
    color: $color3;
    line-height: 1;
    padding: 8px;
    text-align: center;
    &__day{
      font-size: 1rem;
      font-weight: 700;
    }
    &__month-year{
      font-size: 0.56rem;
      font-weight: 300;
      margin-top: 8px;
    }
  }
}
