.social-networks{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 12px;
  &__item{
    color: $color3;
    font-size: 32px;
    margin: 0 0.5rem;
    &:hover{
      color: $color2;
    }
  }
}
