<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login|GoCMS</title>
</head>
<body>
    <div class="login-form">
        <h1>GoCMS</h1>
        <form action="/login" method="post">
            <h2>Iniciar sesión</h2>
            <div class="input-wrapper">
                <input type="text" name="username" id="username" placeholder="Nombre de usuario" maxlength="255">
            </div>
            <div class="input-wrapper">
                <input type="password" name="password" id="password" placeholder="Contraseña" maxlength="512">
            </div>
            <button type="submit">Ingresar</button>
        </form>
        <div class="options-wrapper">
            <a href="/remember-password">Recordar contraseña</a>
            <a href="/signin">Crear una cuenta</a>
        </div>
        <div class="login-redes">
            <a href="#" class="facebook">Facebook</a>
            <a href="#" class="twitter">Twitter</a>
        </div>
    </div>
</body>
</html>
