<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Título de la publicación que puede ser o no extensa estando dentro del límite de 140 caracteres</title>
    <link rel="stylesheet" href="https://file.myfontastic.com/6tytmZDrvqzcmhyZ5cHNBJ/icons.css">
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body class="page-post-show">
    <div class="header">
        <a href="#" class="header__appname">GoCMS</a>
        <a href="#" class="header__menu i-menu"></a>
    </div>

    <div class="page-wrapper">
        <div class="post-banner">
            <img src="../../public/img/posts/1/banners/titulo-de-la-publicacion-que-puede-ser-o-no-extensa-estando-dentro-del-limite-de-140-caracteres.jpeg" alt="Título de la publicación que puede ser o no extensa estando dentro del límite de 140 caracteres">
        </div>
        <div class="post-metadata">
            <div class="author">
                <div class="author__image">
                    <img src="https://gravatar.com/avatar/?s=72" alt="Daniel Romero" />
                </div>
                <div class="author__nombre">Daniel Romero</div>
            </div>
            <div class="published_at">
                <div class="published_at__day">7</div>
                <div class="published_at__month-year">Nov 2016</div>
            </div>
        </div>

        <h1>Título de la publicación que puede ser o no extensa estando dentro del límite de 140 caracteres</h1>

        <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock company of two; that my free will had received a mortal wound; and that another's mistake or misfortune might plunge innocent me into unmerited disaster and death.
        </p>

        <h2>Frase destacada para cuando se haga una hojeada sin leer todo.
        </h2>

        <p>Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering—while I jerked him now and then from between the whale and ship, which would threaten to jam him—still further pondering, I say, I saw that this situation of mine was the precise situation of every mortal that breathes; only, in most cases, he, one way or other, has this Siamese connexion with a plurality of other mortals.
        </p>

        <h2>Frase destacada para cuando se haga una hojeada sin leer todo.
        </h2>

        <p>If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die. True, you may say that, by exceeding caution, you may possibly escape these and the multitudinous other evil chances of life. But handle Queequeg's monkey-rope heedfully as I would, sometimes he jerked it so, that I came very near sliding overboard. Nor could I possibly forget that, do what I would, I only had the management of one end of it.
        </p>

        <div class="post-comments">
            <!-- TODO: colocar aquí el código de comentarios de disqus -->
        </div>
    </div><!-- fin de page-wrapper -->

    <footer class="footer">
        <div class="social-networks">
            <a href="#" class="social-networks__item i-facebook"></a>
            <a href="#" class="social-networks__item i-twitter"></a>
            <a href="#" class="social-networks__item i-youtube"></a>
        </div>
    </footer>
</body>
</html>
